<style>
      h1 {
        font-size: 65px;
        color: orange;
        font-family: sans-serif;
        font-style: oblique;
      }
      ul {
        background-color: palevioletred;
      }
      p { font-weight: 600;
        font-size; 3en;
      }
      body {
        font-size: 16px;
      }
      #yellow {
        background-color: yellow;
      }
      #red {
        background-color: red;
      }
      #brown {
        background-color: brown;
      }
    </style>